@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.header {
  padding: 0.5rem 0;
  background-color: $blackBackground;

  .header__wrapper {
    @include dflex(space-between);
  }

  .header__logo {
    line-height: 1;
    a {
      font-weight: bold;
      font-size: 3rem;
      line-height: 1;
      text-decoration: none;
      color: $orange;
    }
  }

  .header__nav_list {
    @include dflex();
  }
}

@include mobile() {
  .header {
    .header__wrapper {
      flex-direction: column;
    }

    .header__logo a {
      font-size: 1.5rem;
    }

    .header__nav_list {
      padding: 0;

      li{
        padding: 0;
      }
    }
  }
}
