@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.footer {
  padding: 1rem 0;
  text-align: center;
  background-color: $blackBackground;

  .footer__wrapper {
    @include dflex();

    font-size: 1rem;
  }
}
