@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.list__item {
  @include dflex(flex-start, center);

  padding: 1rem;
  border-radius: $borderRadiusMin;
  box-shadow: 3px 3px 10px transparentize($white, 0.8);
  background-color: $darkBlue;
  overflow: hidden;

  &.loading {
    position: relative;
    z-index: 1;

    .list__item_spinner {
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: transparentize($black, 0.5);
    }
  }

  .list__item_spinner {
    display: none;
  }

  &.done {
    background-color: $green;

    .list__item_title {
      text-decoration: line-through;
    }

    .list__item_text {
      text-decoration: line-through;
    }
  }

  & ~ .list__item {
    margin-top: 2rem;
  }

  .list__item_number {
    flex-shrink: 0;
    font-weight: bold;
    font-size: 2rem;
  }

  .list__item_content {
    flex-grow: 1;
    margin: 0 1rem;
  }

  .list__item_title {
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  .list__item_text {
    font-size: 1rem;
    color: transparentize($white, 0.3);
  }

  .list__item_buttons {
    flex-shrink: 0;
  }

  .list__item_done {
    color: $white;
    background-color: $blue;
  }

  .list__item_delete {
    margin-left: 1rem;
  }
}


@include smallTablet() {
  .list__item {
    flex-direction: column;
    text-align: center;

    padding: 1rem;

    .list__item_number {
      font-size: 1.5rem;
    }

    .list__item_content {
      margin: 1rem 0;
    }

    .list__item_title {
      font-size: 1.3rem;
    }
  }
}

