@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.form {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 4fr 1fr;
  grid-template-areas:
    "form_title form_title"
    "todo_title submit"
    "todo_title_error submit"
    "todo_text submit"
    "todo_text_error submit";

  .form__title {
    grid-area: form_title;
  }

  .form__element {
    border-radius: $borderRadiusMin;

    &.error {
      border: 1px solid $red;
    }
  }

  .form__error {
    @extend %formErrorText;
  }

  .form__todo_title {
    grid-area: todo_title;
  }

  .form__todo_title {
    grid-area: todo_title;
  }

  .form__error_title {
    grid-area: todo_title_error;
  }

  .form__todo_text {
    grid-area: todo_text;
  }

  .form__error_text {
    grid-area: todo_text_error;
  }

  .form__submit {
    grid-area: submit;
    align-items: start;

    input {
      @extend %submitButton;

      height: max(2rem, calc(100% - 1.5rem));
      border-radius: $borderRadiusMin;
    }
  }
}

@include tablet() {
  .form {
    grid-template-columns: 3.5fr 1.5fr;
  }
}

@include smallTablet() {
  .form {
    display: block;

    .form__element ~ .form__element {
      margin-top: 1rem;
    }

    .form__error {
      margin-top: 0.5rem;
    }

    .form__submit {
      width: 100%;
      margin-top: 1rem;

      input {
        padding: 1rem;
        height: auto;
      }
    }
  }
}
