@import "../../assets/scss/variables";


body,
html,
#root {
  word-wrap: break-word;
}

body {
  font-size: 16px;
  background-color: $black;

  h2 {
    font-weight: bold;
  }
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  background-color: $black;
}

::-webkit-scrollbar-thumb {
  border-radius: $borderRadiusMin;
  background-color: $orange;
}


