@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.authorization {
  .form{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;

    .form__element {
      width: 100%;

      & ~ .form__element {
        margin-top: 1rem;
      }

      &.error {
        border: 1px solid $red;
      }
    }

    .form__error {
      margin-top: 0.2rem;
      font-size: 1rem;
      text-shadow: 0 0 1px $black, 0 0 2px $black, 0 0 3px $black, 0 0 4px $black;
      color: $orange;
    }

    .form__text {
      margin-top: 1.5rem;
      text-align: center;

      a {
        margin-left: 0.5rem;
        color: $blue;
      }
    }

    .form__submit {
      width: 100%;

      input {
        @extend %submitButton;

        padding: 1rem 0;
        margin: 1rem 0;
        border-radius: 0.3rem;
      }
    }
  }

}
